<form
  class="registration-form"
  #userRegistrationForm="ngForm"
  (ngSubmit)="onSubmit(f)">
  <div class="row">
    <div class="col-md-6">
      <input
        type="text"
        name="username"
        id="username"
        ngModel
        placeholder="Username"
        #username="ngModel"
        class="form-control"
        required>
    </div>
    <div class="col-md-6">
      <input
        type="password"
        name="password"
        id="password"
        ngModel
        placeholder="Password"
        #password="ngModel"
        class="form-control"
        required>
    </div>
    <div class="col-md-6">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="E-mail"
        #email="ngModel"
        ngModel
        class="form-control"
        required>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        name="firstname"
        id="firstname"
        placeholder="First Name"
        #firstname="ngModel"
        ngModel
        class="form-control"
        required>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Last Name"
        #lastname="ngModel"
        ngModel
        class="form-control"
        required>
    </div>
    <div class="col-md-6">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!userRegistrationForm.valid"
        >Submit</button>
    </div>
  </div>
</form>
